---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import StarField from '../components/StarField';
import ThemeToggle from '../components/ThemeToggle';
import HeroContent from '../components/HeroContent.jsx'; // <--- IMPORTAR
import BentoGrid from '../components/BentoGrid.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Aitor | Portfolio V2">
	<ThemeToggle client:only="react" />
	<StarField client:only="react" />

	<main class="relative z-10 h-screen flex flex-col justify-center items-center px-4">
		<div class="border border-dim-gray p-12 bg-black/40 backdrop-blur-sm max-w-4xl w-full">
			<HeroContent client:only="react" />
		</div>
	</main>

	<BentoGrid />
    <Projects />
    <Footer />
</Layout>